stages:
  - test
  - deploy

.job_template: &test_job
  stage: test
  script:
    - phing test
  cache:
    paths:
      - vendor/
  before_script:
    - composer update --prefer-dist --no-progress --no-interaction
  rules:
    - if: $CI_COMMIT_BRANCH

test:php8.3:
  <<: *test_job
  image: nexendrie/php:8.3

test:cc:
  <<: *test_job
  image: nexendrie/php:8.3
  coverage: '/(\d+\%) covered/'

pages:
  stage: deploy
  environment:
    name: documentation
    url: https://nexendrie.gitlab.io/rss
  image: nexendrie/php:8.3
  before_script:
    - composer update --prefer-dist --no-progress --no-interaction
  script:
  - phing documentation
  artifacts:
      paths:
      - public
  only:
  - tags@nexendrie/rss

release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Creating GitLab release"
  release:
    tag_name: $CI_COMMIT_TAG
    name: "Version $CI_COMMIT_TAG"
    description: "./RELEASE_NOTES"
