includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Variable property access on SimpleXMLElement#'
        - '#Construct empty\(\) is not allowed. Use more strict comparison#'
        - '#Anonymous function should return Nexendrie\\Rss\\CategoriesCollection but returns Nexendrie\\Utils\\Collection#'
