includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    universalObjectCratesClasses:
        - SimpleXMLElement
    ignoreErrors:
        - '#Parameter \#2 \$callback of function array_walk expects callable\(object, \(int\|string\)\): mixed, Closure\(Nexendrie\\Rss\\(Category|Enclosure)\): void given#'
